* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.notify a {
  text-decoration: none;
}

.notify{
  margin: 4px;
  padding: 0;
  list-style: none;
  float: left;
}


.notify ul {
  margin: 0;
  margin-left: -70px;
  padding: 0;
  list-style: none;
  float: left;
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
  height: 200px;
  overflow-y: auto;
}

.notify li {
  display: block;
  float: left;
  clear: both;
}

.notify > li {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  margin-top:13px;
}

/*.notify > li:hover {
  color: #000;
}*/

.notify > li .num {
  position: absolute;
  display: block;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 100%;
  background-color: #eee;
  color: #999;
  text-align: center;
}

.notify > li > ul {
  position: absolute;
  left: -1px;
  display: none;
  max-height: 200px;
  width: 350px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.notify > li:hover > ul {
  display: block;
}

.notify > li > ul:before,
.notify > li > ul:after {
  display: block;
  position: absolute;
  top: -10px;
  left: 15px;
  content: '';
  width: 8px;
  height: 8px;
  border-style: solid;
}

.notify > li > ul:before {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ccc transparent;
  z-index: 1px;
}

.notify > li > ul:after {
  top: -9.5px;
  left: 16px;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #fff transparent;
  z-index: 2px;
}

.notify > li > ul > li {
  width: 100%;
  font-size: 10px;
  border-top: 1px solid #ccc;
  padding: 15px;
}

.notify > li > ul > li.title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 8px 15px;  
}

.notify > li > ul > li.footer {
  font-size: 14px;
  font-widght: bold;
  color: #000;
  background-color: #eee;
  text-align: center;
  padding: 8px;
}

.notify > li > ul > li:first-child {
  border-top: 0;
}

.notify > li > ul > li:last-child {
  border-bottom: 0;
}

.notify > li > ul > li a {
  display: block;
  color: #444;
}

.notify > li > ul > li:hover a {
  color: #37a000;
}