{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'css.html' %}
    <title>Yantragene 2k19</title>

    <link rel="icon" type="image/png" href="{% static 'img/icon.ico' %}"/>
    
  </head>
  <body>
    
    


        {% block content %}
            
        {% endblock content %}

     


    {% include 'js.html' %}
  </body>
</html>