nav {
    height: 40px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
    transition: top .5s ease-in-out;
}

nav ul {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    text-align: center;
    color:white;
}

nav ul li a {
    display: block;
    font-family: 'Axis';
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav_t
{
float:left;
margin-left:25%;
}

.tecfest_name
{
  margin-top: 45px;
  margin-left: -40px;
}

nav ul li.menu-icon {
    display: none;
}

nav ul li a hr {
    margin-top: 5px; 
    width: 0%;
    background: black;
    height: 3px;
    border: none;
    transition: width .2s ease-in-out;
}

nav ul li a:hover hr, nav ul li a hr:hover {
    width: 100%;
}

nav ul li a .burger div {
    height: 5px;
    width: 30px;
    background: black;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: .5s;
}

nav ul li a .burger.close div:first-of-type {
    transform: translateY(10px) rotate(-45deg);
}

nav ul li a .burger.close div:nth-of-type(2) {
    transform: rotate(45deg);
}

nav ul li a .burger.close div:last-of-type {
    transform: translateY(-10px) rotate(45deg);
}


/* Main
------------------------------ */

main {
    width: 60%;
    margin: 0 auto;
    padding-top: calc(10% + 100px);
    text-align: center;
    opacity: .8;
}

main h1, main h2 {
    font-family: 'Axis', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 0 black,
                 2px 2px 0 black,
                 3px 3px 0 black,
                 4px 4px 0 black,
                 5px 5px 0 black;
}

main h1 {
    font-size: 54px;
    line-height: 80px;
}

main h2 {
    font-size: 44px;
    line-height: 70px;
    margin-top: 20px;
}

main hr {
    width: 50%;
    height: 8px;
    background: white;
    border: none;
    margin: 26px auto 0;
    box-shadow: 1px 1px 0 black,
                2px 2px 0 black,
                3px 3px 0 black,
                4px 4px 0 black,
                5px 5px 0 black;
}


/* Responsive
------------------------------ */

@media screen and (max-width: 800px) {
    
    main {
        width: 90%;
    }
    
    main h1 {
        font-size: 34px;
    }
    
    main h2 {
        font-size: 24px;
    }
    
}

@media screen and (max-width: 500px) {
    
    nav {
        height: 100vh;
        top: calc(-100vh + 100px);
    }
    
    nav.complete {
        top: 0;
    }
    
    nav ul {
        flex-flow: column nowrap;
    }
    
    nav ul li.menu-icon {
        display: block;
        display: flex;
        align-items: center;
    }
    
    main h1 {
        font-size: 24px;
    }
    
    main h2 {
        font-size: 14px;
    }
    
}

.face:hover {
  cursor:pointer; 
  animation: shake 0.42s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}




.dropbtn {
  background-color:rgba(0, 0 ,0 ,0.1); 
  padding: 16px;
  font-size: 16px;

}

.dropdown {
  cursor:pointer; 
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 130px;
  background:white;
  opacity:0.4;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  
}

@media screen and (max-width: 500px)
{
  .nav_t
{
float:left;
margin-left:0%;
}
nav
{
  margin-top:-15%;
}
}
.my_nav_link{
  color:white;
}
.my_nav_link:hover{
  color:white;
}

